
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    
}

a {
    text-decoration: none; 
    line-height: 1.2;
    text-transform: uppercase;    
}

.container {
    max-width: 1220px;
    margin: auto;
}

.main__header .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 28px 0;
}

.menu__list { 
    display: flex;
}

.menu__item {
    list-style-type: none;
    padding-left: 45px;
}

.item__href {
    font-family: Poppins;
    font-size: 13px;
    line-height: 12px;
    font-weight: 500;
    letter-spacing: 0.075em;
    color: #afafaf;
}

.item__href:hover {
    color: #48a4d0;
}

.btn {
    width: 115px;
    height: 38px;
    border: 1px solid #00aac6;
    border-radius: 6px;    
    text-align: center;    
    font-size: 12px;
    line-height: 40px;
    font-weight: 600;
    letter-spacing: -0.025em;
    color: #00aac6;
    vertical-align: middle;
}

.apply {
    background-color: #00aac6;
    background-image: linear-gradient(270.0deg, #64a8c6 0%, #72bec1 100%);
    border-radius: 6px;
    color: #ffffff;
}

.offer {
    padding: 260px 0 220px;
    background: no-repeat  url("../img/main_bg.png");
    background-size: cover;
}

.offer__title {
    font-family: 'Roboto', sans-serif;
    font-size: 53px;
    line-height: 53px;
    font-weight: 600;
    letter-spacing: -0.025em;
    color: #ffffff;
}

.offer__btn {
    margin-top: 35px;
    display: inline-block;
    text-align: center;
    width: 253px;
    height: 53px;
    background-color: #ffffff;
    box-shadow: 3px 5px 33px 7px rgba(0,0,0,0.12);
    border-radius: 6px;
    font-size: 12px;
    line-height: 53px;
    font-weight: 600;
    letter-spacing: -0.025em;
    color: #00aac6;
}

.about {
    padding: 260px 0 220px;
    background: no-repeat  url("../img/about_bg.png");
    background-size: cover;
}

.about__title { 
    margin-bottom: 55px;       
    font-size: 36px;
    line-height: 53px;
    font-weight: 600;
    letter-spacing: -0.025em;
    color: #00aac6;
}

.about__text {
    max-width: 496px ;
    font-family: Poppins;
    font-size: 12px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #434343;
}

.choose {
    background: no-repeat  url("../img/choose_bg.png");
    background-size: cover;
    padding: 100px 0 135px;
}

.choose__title {
    font-size: 36px;
    line-height: 53px;
    font-weight: 600;
    letter-spacing: -0.025em;
    color: #ffffff;
}

.choose__list {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}

.choose__item {
    list-style-type: none;
}




.choose .owl-carousel .owl-nav .owl-prev {
    position: absolute;
    left: 0;
    bottom: -30%;
    font-family: "Font Awesome 5 Free";
    font-size: 20px;
    font-weight: 900;
    color: white;
}

.choose .owl-carousel .owl-nav .owl-prev::before {
    content: "\f053";
}


.choose .owl-carousel .owl-nav .owl-next {
    position: absolute;
    left: 5%;
    bottom: -30%;
    font-family: "Font Awesome 5 Free";
    font-size: 20px;
    font-weight: 900;
    color: white;
}

.choose .owl-carousel .owl-nav .owl-next::before {
    content: "\f053";
    display: inline-block;
    transform: rotate(180deg);
}


.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dots {
    position: absolute;
    left: 10%;
    bottom: -33%;
}

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dots .owl-dot  {
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    margin-right: 20px;
}

.owl-carousel .owl-dots .owl-dot.active {
    background-color: #00aac6 ;
    border: white 1px solid;
}






.list__title {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    line-height: 53px;
    font-weight: 600;
    letter-spacing: -0.025em;
    color: #ffffff;
}

.list__text {
    margin-top: 50px;
    max-width: 335px;
    font-family: Poppins;
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    color: #ffffff;
}

.integration .row {
    display: flex;
    padding: 90px 0 45px;
}

.integration__sign {
    margin-top: 45px;
    font-size: 27px;
    line-height: 53px;
    font-weight: 600;
    letter-spacing: -0.025em;
    color: #000000;
}

.integration__title {
    max-width: 500px;
    font-size: 36px;
    line-height: 31px;
    font-weight: 600;
    letter-spacing: -0.025em;
    color: #00aac6;
}

.integration__text {
    margin-top: 30px;
    max-width: 500px;
    font-family: Poppins;
    font-size: 12px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #434343;
}

.integration .right {
    margin-left: 100px;
}

.features__title {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    line-height: 53px;
    font-weight: 600;
    letter-spacing: -0.025em;
    color: #00aac6;
}

.features__list {
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
}

.features__item {
    list-style: none;
}

.features__item-title {
    font-size: 20px;
    line-height: 26px;
    font-weight: 600;
    letter-spacing: -0.025em;
    color: #383838;
}

.features__item-text {
    margin-top: 10px;
    max-width: 270px;
    font-family: Poppins;
    font-size: 12px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #434343;
}

.specific {
    margin-top: 100px;
}

.specific__title {
    font-size: 36px;
    line-height: 53px;
    font-weight: 600;
    letter-spacing: -0.025em;
    color: #00aac6;
}

.specific__sign {
    margin: 20px 0 40px;
    font-size: 20px;
    line-height: 26px;
    font-weight: 600;
    letter-spacing: -0.025em;
    color: #383838;
}

.specific__form {
    display: flex;
    margin-bottom: 100px;
}

.left__form,
.right__form {
    max-width: 590px;
}

.right__form {
    padding-left: 50px;
}



input {
    width: 100%;
    height: 52px;
    opacity: 0.34;
    background-color: #e6e7eb;
    box-shadow: inset 0px 1px 2px 0px rgba(0,0,0,0.09);
    border-radius: 6px;
    font-family: Poppins;
    font-size: 12px;
    line-height: 6px;
    font-weight: 400;
    color: #393939;
    padding-left: 15px;
    margin-bottom: 15px;
}

.countries__title {
    margin: 20px 0 20px;
    font-family: Poppins;
    font-size: 12px;
    line-height: 24px;
    font-weight: 400;
    color: #393939;
}

.area {
    width: 100%;
    height: 119px;
    opacity: 0.34;
    background-color: #e6e7eb;
    box-shadow: inset 0px 1px 2px 0px rgba(0,0,0,0.09);
    border-radius: 6px;
    margin-bottom: 8px;
}

.submit__form {
    margin-top: 220px;
    float: right;
    width: 253px;
    height: 53px;
    background-color: #ffffff;
    background-image: linear-gradient(270.0deg, #64a8c6 0%, #72bec1 100%);
    box-shadow: 3px 5px 33px 7px rgba(0,0,0,0.12);
    border-radius: 6px;
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    color: #ffffff;
    text-transform: uppercase;
}

.submit__form:hover {
    cursor: pointer;
}

.footer__card {
    background-color: #EBEBEB;
    padding: 30px 0 30px;
}

.footer__card .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__card img {
    margin-left: 60px;
}

.copyright {
    font-family: Poppins;
    font-size: 11px;
    line-height: 12px;
    font-weight: 400;
    letter-spacing: 0.035em;
    color: #858585;
}


@media only screen and (max-width: 1400px) {
    .container {
        max-width: 1220px;
        padding: 0 12px;
    }

}


@media only screen and (max-width: 1200px) {
    .container {
        max-width: 1140px;
        padding: 0 12px;
    }
    .menu__item {
        padding-left: 20px;
    }

}

@media only screen and (max-width: 992px) {
    .container {
        max-width: 960px;
        padding: 0 12px;
    }
    .menu__list {
        display: none;
    }

    .main__header .row {
        justify-content: space-around;
    }

    .right img {
        max-width: 85%;
    }

}

@media only screen and (max-width: 768px) {
    .container {
        width: 100%;
        padding: 0 12px;
    }

    .owl-carousel .owl-dots {
        position: absolute;
        left: 10%;
        bottom: -13%;
    }

    .main__header .row {
        flex-direction: column;
    }

    .btn {
        margin-top: 20px;
    }

    .offer {
        padding: 40px 0 40px;
    }

    .offer__title {
        font-size: 26px;
    }

    .offer__btn {
        width: 50%;
    }

    .choose, .integration {
        padding: 40px 0 40px;
    }

    .about {
        padding: 40px 0 40px;
    }
    .menu__list {
        display: none;
    }

    .main__header .row {
        justify-content: space-around;
    }

    .right img {
        max-width: 85%;
        margin-top: 40px;
    }

    .footer__card img {
        margin-left: 0;
        width: 30%;
    }

    .integration .right {
        margin-left: 0;
    }

    .choose__list {
        flex-direction: column;
    }

    .list__text {
        max-width: 100%;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .integration .row {
        flex-direction: column;
        padding: 40px 0 40px;
    }

    .features__list {
        flex-direction: column;
    }

    .features__item-text {
        max-width: 100%;
        margin-bottom: 40px;
    }

    .features__list {
        margin-top: 40px;
    }

    .specific {
        margin-top: 40px;
    }

    .specific__form {
        flex-direction: column;
    }

    .right__form {
        padding-left: 0;
    }

    .submit__form {
        margin-top: 50px;
        float: inherit;
        width: 100%;
    }

    .footer__card .row {
        flex-direction: column;
    }

    .right__wrap {
        margin-top: 30px;
    }

}


@media only screen and (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 12px;
    }

    .owl-carousel .owl-dots {
        position: absolute;
        left: 10%;
        bottom: -13%;
    }

    .main__header .row {
        flex-direction: column;
    }

    .btn {
        margin-top: 20px;
    }

    .offer {
        padding: 40px 0 40px;
    }

    .offer__title {
        font-size: 26px;
    }

    .offer__btn {
        width: 100%;
    }

    .choose, .integration {
        padding: 40px 0 40px;
    }

    .about {
        padding: 40px 0 40px;
    }
    .menu__list {
        display: none;
    }

    .main__header .row {
        justify-content: space-around;
    }

    .right img {
        max-width: 85%;
        margin-top: 40px;
    }

    .footer__card img {
        margin-left: 0;
        width: 30%;
    }

    .integration .right {
        margin-left: 0;
    }

    .choose__list {
        flex-direction: column;
    }

    .list__text {
        max-width: 100%;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .integration .row {
        flex-direction: column;
        padding: 40px 0 40px;
    }

    .features__list {
        flex-direction: column;
    }

    .features__item-text {
        max-width: 100%;
        margin-bottom: 40px;
    }

    .features__list {
        margin-top: 40px;
    }

    .specific {
        margin-top: 40px;
    }

    .specific__form {
        flex-direction: column;
    }

    .right__form {
        padding-left: 0;
    }

    .submit__form {
        margin-top: 50px;
        float: inherit;
        width: 100%;
    }

    .footer__card .row {
        flex-direction: column;
    }

    .right__wrap {
        margin-top: 30px;
    }

}

@media only screen and (max-width: 540px) {
    .container {
        max-width: 100%;
        padding: 0 12px;
    }

    .owl-carousel .owl-dots {
        position: absolute;
        left: 10%;
        bottom: -13%;
    }

    .main__header .row {
        flex-direction: column;
    }

    .btn {
        margin-top: 20px;
    }

    .offer {
        padding: 40px 0 40px;
    }

    .offer__title {
        font-size: 26px;
    }

    .offer__btn {
        width: 100%;
    }

    .choose, .integration {
        padding: 40px 0 40px;
    }

    .about {
        padding: 40px 0 40px;
    }
    .menu__list {
        display: none;
    }

    .main__header .row {
        justify-content: space-around;
    }

    .right img {
        max-width: 85%;
        margin-top: 40px;
    }

    .footer__card img {
        margin-left: 0;
        width: 30%;
    }

    .integration .right {
        margin-left: 0;
    }

    .choose__list {
        flex-direction: column;
    }

    .list__text {
        max-width: 100%;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .integration .row {
        flex-direction: column;
        padding: 40px 0 40px;
    }

    .features__list {
        flex-direction: column;
    }

    .features__item-text {
        max-width: 100%;
        margin-bottom: 40px;
    }

    .features__list {
        margin-top: 40px;
    }

    .specific {
        margin-top: 40px;
    }

    .specific__form {
        flex-direction: column;
    }

    .right__form {
        padding-left: 0;
    }

    .submit__form {
        margin-top: 50px;
        float: inherit;
        width: 100%;
    }

    .footer__card .row {
        flex-direction: column;
    }

    .right__wrap {
        margin-top: 30px;
    }

}

@media only screen and (max-width: 320px) {
    .container {
        max-width: 100%;
        padding: 0 12px;
    }
    .owl-carousel .owl-dots {
        position: absolute;
        left: 10%;
        bottom: -13%;
    }

    .main__header .row {
        flex-direction: column;
    }

    .btn {
        margin-top: 20px;
    }

    .offer {
        padding: 40px 0 40px;
    }

    .offer__title {
        font-size: 26px;
    }

    .offer__btn {
        width: 100%;
    }

    .choose, .integration {
        padding: 40px 0 40px;
    }

    .about {
        padding: 40px 0 40px;
    }
    .menu__list {
        display: none;
    }

    .main__header .row {
        justify-content: space-around;
    }

    .right img {
        max-width: 85%;
        margin-top: 40px;
    }

    .footer__card img {
        margin-left: 0;
        width: 30%;
    }

    .integration .right {
        margin-left: 0;
    }

    .choose__list {
        flex-direction: column;
    }

    .list__text {
        max-width: 100%;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .integration .row {
        flex-direction: column;
        padding: 40px 0 40px;
    }

    .features__list {
        flex-direction: column;
    }

    .features__item-text {
        max-width: 100%;
        margin-bottom: 40px;
    }

    .features__list {
        margin-top: 40px;
    }

    .specific {
        margin-top: 40px;
    }

    .specific__form {
        flex-direction: column;
    }

    .right__form {
        padding-left: 0;
    }

    .submit__form {
        margin-top: 50px;
        float: inherit;
        width: 100%;
    }

    .footer__card .row {
        flex-direction: column;
    }

    .right__wrap {
        margin-top: 30px;
    }

}

.ui-dialog {
    width: 580px !important;
    left: 25%;
}

